@import url('https://fonts.googleapis.com/css2?family=lobster&display=swap');




.logo  {
    color:#e22b53;
 } 
 
body  {
margin: 0;
padding: 0;
border:none;
font-family: lobster, cursive;
font-weight: 200;   background-color:blue;
}